#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=1

#include version
major=$(shell grep '^MAJOR_VERSION' Rules.mak|sed 's/.*=//')
minor=$(shell grep '^MINOR_VERSION' Rules.mak|sed 's/.*=//')
version:=$(strip $(major)).$(strip $(minor))

target=$(DEB_HOST_GNU_CPU)
#target=powerpc

with_shared_libs=y
#ifeq ($(target),powerpc)
#with_shared_libs=n
#endif


build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	cp extra/Configs/Config.$(target) Config

	echo '#Debian configuration overrides'  >>Config
ifneq ($(target),$(DEB_HOST_GNU_CPU))
	echo 'TARGET_ARCH = $(target)'  >>Config
	echo 'CROSS = $(target)-linux-'  >>Config
endif
	echo 'DOPIC = true'  >>Config
	echo 'PREFIX = $$(DESTDIR)/usr'  >>Config
	echo 'DEVEL_PREFIX = $$(PREFIX)/$$(TARGET_ARCH)-linux-uclibc'  >>Config
	echo 'TARGET_PREFIX = $$(DESTDIR)/'  >>Config
ifeq ($(with_shared_libs),n)
	echo 'HAVE_SHARED = false' >>Config
endif

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	$(MAKE) install_dev DESTDIR=`pwd`/debian/tmp
	$(MAKE) install_runtime DESTDIR=`pwd`/debian/libuclibc0
	$(MAKE) install_gcc DESTDIR=`pwd`/debian/uclibc-gcc

	install -m 644 debian/uclibc-gcc.1 \
	  debian/uclibc-gcc/usr/share/man/man1/$(target)-uclibc-gcc.1
	(cd debian/uclibc-gcc/usr/share/man/man1; \
	  ln -sf $(target)-uclibc-gcc.1.gz $(target)-uclibc-cc.1.gz; \
	  ln -sf $(target)-uclibc-gcc.1.gz $(target)-uclibc-ld.1.gz; \
	  for x in addr2line ar as cpp gasp nm objcopy objdump ranlib \
	  size strings strip;do \
	    ln -sf $$x.1.gz $(target)-uclibc-$$x.1.gz;done)
	
	install -d debian/libuclibc0/usr/share/man/man1
	install -m 644 debian/uclibc-ldd.1 \
	  debian/libuclibc0/usr/share/man/man1/$(target)-uclibc-ldd.1

	install -m 644 debian/uclibc-ldconfig.1 \
	  debian/libuclibc0/usr/share/man/man1/$(target)-uclibc-ldconfig.1

ifeq ($(with_shared_libs),y)
	mkdir -p debian/libuclibc0/lib/
	ln -sf /usr/$(target)-uclibc-linux/lib/ld-uclibc.so.0 \
	  debian/libuclibc0/lib/ld-uclibc.so.0
endif

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot

#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
	dh_installcron
#	dh_installmanpages -plibuclibc0
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms -Xld-uClibc
	# You may want to make some executables suid here.
#	dh_suidregister
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps --exclude=ld_uclibc -ldebian/libuclibc0/usr/$(target)-linux-uclibc/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
